@font-face {
    font-family: "Pacifico-Regular";
    src: url("../font/Pacifico-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Pacifico-Regular", Arial, Helvetica;
    letter-spacing: 0.06em;
    word-spacing: 0.16em;
    font-size: 100%;
    text-decoration: none;
}

body {
    background-image: url("../photos/pexels-pixabay-260922.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 9fr 1fr;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    margin-bottom: 100px;
    grid-area: header;
}

.header > div:last-child > div:hover,
.footer a:hover {
    color: rgb(255, 60, 60);
    border-bottom: 1px solid;
    transition: 0.3s;
}

.header,
.footer {
    background: rgba(0,0,0, 0.7);
}

.header > div:first-of-type {
    font-size: 2.4em;
}

.header > :last-child {
    display: flex;
    gap: 35px;
    font-size: 1.6em;
}

.header > :last-child div {
    border: 2px solid transparent;
    transition: 0.3s;
}

.header,
.footer{
    transition: 0.8s;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: content;
}

.fadeIn {
    transition: opacity 1s;
}

.fadeOut {
    opacity: 0;
}

.imgHome {
    width: 20vw;
    height: auto;
}

#content > div {
    display: flex;
    align-items: center;
    width: 70vw;
}

.contentContainer {
    gap: 80px;
}

.contentContainer > div h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-decoration: underline;
}

.contentContainer em {
    font-size: 1.25em;
}

#content > .menuContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.itemName {
    font-size: 2em;
}

.itemName,
.itemDesc {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.menuContent > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem {
    height: 20em;
    gap: 60px;
}

.menuItem img {
    height: 320px;
    width: 320px;
}

.contacts {
    gap: 30px;
    justify-content: center;
}

.contactInfo {
    font-size: 1.5em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 100px;
    gap: 20px;
    grid-area: footer;
}

.footer a {
    transition: 0.3s;
}


